@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('../../Content/ing/Epiphany.jpg');
        background-repeat: no-repeat, repeat;
        backgroud-size: cover;
    }
    
</style>
        <center><h1>Epiphany</h1></center>
        <center>Welcome To Your World Of Music!</center>
        <p><a class="btn btn-primary btn-lg "href="https://www.jamendo.com/explore/playlists">Learn more</a></p>
  
<div class="row">
    <div class="col-md-4">
        <h2>Youtube</h2>
        <p>
            Watch Videos of your favorite Artist or Band and Stream music.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/">Watch Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ticket Master</h2>
        <p>Search your favorite Artist Latest Concert Tour and Shows.</p>
        <p><a class="btn btn-default" href="https://www.ticketmaster.com/section/concerts?tm_link=tm_homeA_music_header">Search Tickets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pandora</h2>
        <p>Stream Music and Create your own radio station. </p>
        <p><a class="btn btn-default" href="https://www.pandora.com">Listen Here &raquo;</a></p>
    </div>
</div>

