@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    
    body {
      
        background-image: url('../../Content/ing/Indianapolis.jpg');
        background-repeat: no-repeat;
        backgroud-size:cover;
    }
</style>

<address>
    SalesForce Towers<br />
    1 E Ohio St, Indianapolis, IN 46204<br />
    <abbr title="Phone">P:</abbr>
    800.587.2103
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@epiphanymusic.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@epiphanymusic.com">Marketing@example.com</a>
</address>