@{
    ViewBag.Title = "Add New Role";
}
<h2>Add New User Role:</h2>

@using (Html.BeginForm())
{
    <p> Enter User Role Name:</p>


    <input type="submit" value="Create Role" />
<h1>Looks like you were misdirected and went to the wrong page. We'll log this and try to help you out.</h1>}